$swamp-green: #468966;
$sand: #FFF0A5;
$subway-cheese: #ffc36b;
$usyd-orange: rgb(231, 79, 49);
$chili-sauce: #B64926;
$tomato-sauce: #8E2800;
$sleepy-blue: #7a9cb2;
$faded-black: #373a3c;
$pastel-gray: #dbdbdb;


$header-background : #323e4c;
$header-link-default : #757f8c;