.expand-transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.expand-enter {
  -webkit-transform: scale(0);
  transform: scale(0); }

.expand-leave {
  -webkit-transform: scale(0);
  transform: scale(0); }

.fade-transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.fade-enter {
  opacity: 0; }

.fade-leave {
  opacity: 0; }

.grow-transition {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
  max-height: 100vh; }

.grow-enter {
  max-height: 0; }

.grow-leave {
  max-height: 0; }

#app {
  z-index: 1; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

body {
  background-color: #dbdbdb;
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

#site-container {
  display: -webkit-box;
  display: flex;
  flex-flow: column;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%; }

.blur {
  -webkit-transition: -webkit-filter 0.15s ease-out;
  transition: -webkit-filter 0.15s ease-out;
  transition: filter 0.15s ease-out;
  transition: filter 0.15s ease-out, -webkit-filter 0.15s ease-out;
  -webkit-filter: blur(0.1rem);
  filter: blur(0.1rem); }

.unit-component {
  cursor: pointer; }
  .unit-component * {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  .unit-component.status-open .unit-content {
    background-color: #e74f31; }
  .unit-component.status-open .unit-icon {
    background-color: white; }
  .unit-component .unit-icon {
    border: 9px solid #373a3c;
    padding: 20px;
    border-radius: 75px; }
  .unit-component .unit-content-container {
    width: 100%;
    margin: 7px; }
    .unit-component .unit-content-container .unit-content {
      -webkit-box-flex: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: justify;
      justify-content: space-between;
      border: 2px solid #373a3c;
      box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.6); }
      .unit-component .unit-content-container .unit-content:hover {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        box-shadow: 0px 17px 28px -11px black; }

.unit-code {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold; }

.unit-name {
  text-align: center;
  padding: 0 10px; }

.unit-next-day {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 200; }

.unit-button {
  border: none;
  background-color: transparent;
  padding: 5px; }

.unit-button-border {
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.flex {
  display: -webkit-box;
  display: flex; }

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.flex-children-center {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.flex-justify-content-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.full-height {
  height: 450px; }

/*# sourceMappingURL=site.css.map */
