{% extends "base.html" %}

{% block body %}
    {% load static %}

    {% verbatim %}
    <div id="app">
        <div class="row">
            <unit-panel :unit="units[0]"></unit-panel>
            <unit-panel :unit="units[1]"></unit-panel>
            <unit-panel :unit="units[2]"></unit-panel>
            <unit-panel :unit="units[3]"></unit-panel>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="font-size: 0.85rem;">
            <div>Here's your classes. This line of text is to make the page look like it knows what
            it's doing. Ahoy mihoy.</div>
            <div>Make lectures great again 2016</div>
        </div>
    </div>

    {% endverbatim %}

    <script src="{% static "js/app.js" %}"></script>
{% endblock %}
