click==6.6
configparser==3.5.0
Django==1.10.1
django-common-helpers==0.8.0
django-extensions==1.7.4
djangorestframework==3.4.6
drfdocs==0.0.11
fake-factory==0.6.0
Faker==0.7.3
psycopg2==2.6.2
python-dateutil==2.5.3
python-dotenv==0.6.0
redis==2.10.5
six==1.10.0
